<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

            {# 
                asset() pointe le dossier "public". Suffit ensuite de terminer le chemin à parcourir.
                A utiliser avec le CSS, JS et images
                <link href="{{ asset('css/style.css') }}" rel="stylesheet">
            #}
        {% endblock %}

        {% block javascripts %}
            <!-- JavaScript Bundle with Popper -->
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
        {% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <div class="container mx-auto">
                <a class="navbar-brand" href="{{ path('home') }}">LookImage</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        {# 
                            "app.user" contient les données de l'utilisateur connecté, 
                            si la personne n'est pas connecté, "app.user" vaut NULL
                        #}
                        {% if app.user is null %}
                            <li class="nav-item active">
                                <a class="nav-link" href="{{ path('app_login') }}">Se connecter</a>
                            </li>
                            <li class="nav-item active">
                                <a class="nav-link" href="{{ path('app_register') }}">S'inscrire</a>
                            </li>
                        {% else %}
                            <li class="nav-item active text-white">
                                <a class="nav-link" href="{{ path('account') }}">Bonjour {{ app.user.firstname }} !</a>
                            </li>
                            <li class="nav-item active">
                                <a class="nav-link text-danger" href="{{ path('app_logout') }}">Déconnexion</a>
                            </li>
                        {% endif %}    
                    </ul>
                </div>
            </div>
        </nav>

        <div class="container mx-auto py-5">
            {% block body %}{% endblock %}
        </div>
    </body>
</html>
