{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    {{ form_start(registrationForm, { attr: { class:'w-50 mx-auto' }}) }}
        <h1 class="h3 mb-4 font-weight-normal">Ouvrir un compte</h1>

        <div class="mb-3">
            {{ form_row(registrationForm.firstname) }}
        </div>

        <div class="mb-3">
            {{ form_row(registrationForm.lastname) }}
        </div>

        <div class="mb-3">
            {{ form_label(registrationForm.email) }}
            {{ form_widget(registrationForm.email) }}
            <small class="text-danger">
                {{ form_errors(registrationForm.email) }}
            </small>
        </div>
        
        <div class="row mb-3">
            <div class="col">
                {{ form_row(registrationForm.plainPassword.first) }}
            </div>
            <div class="col">
                {{ form_row(registrationForm.plainPassword.second) }}
            </div>
        </div>

        {{ form_row(registrationForm.agreeTerms) }}

        <button class="mt-3 btn btn-primary">Valider mon inscription</button>
    {{ form_end(registrationForm) }}
{% endblock %}
