{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <h1>Accueil</h1>

    {# Catégories #}
    <ul class="nav justify-content-center py-4">
        {% for categorie in categories %}
            <li class="nav-item">
                {# path() contient le nom de la route vers laquelle nous souhaitons nous rediriger #}
                <a class="nav-link" href="{{ path('pictures_by_category', { id: categorie.id }) }}">{{ categorie.name }}</a>
            </li>
        {% endfor %}
    </ul>

    {# Images #}
    {# for est l'équivalent de foreach(), mais la condition est inversé ! #}
    <div class="row">
        {% for picture in pictures %}
            <div class="col-3 mb-4">
                {# La concaténation en Twig se fait avec un tild "~" #}
                <a href="{{ path('show_picture', { id: picture.id }) }}">
                    <img src="{{ asset('uploads/images/photos/'~ picture.image)|imagine_filter('thumbnail') }}" alt="{{ picture.image }}" class="rounded img-fluid">
                </a>
            </div>
        {% endfor %}
    </div>

    {{ knp_pagination_render(pictures) }}
{% endblock %}
