{% extends 'base.html.twig' %}

{% block title %}Les photos de la catégorie "{{ category.name }}"{% endblock %}

{% block body %}
    {# Pas besoin de boucle "for" si vous sélectionnez un seul enregistrement en BDD, un peu comme fetch() en PDO #}
    <h1>Catégorie "{{ category.name }}"</h1>

    <div class="py-4">
        <a href="{{ path('home') }}"><< Retour à l'accueil</a>
    </div>

    {# Images #}
    <div class="row">
        {% for picture in pictures %}
            <div class="col-3 mb-4">
                <a href="{{ path('show_picture', { id: picture.id }) }}">
                    <img src="{{ asset('uploads/images/photos/'~ picture.image)|imagine_filter('thumbnail') }}" alt="{{ picture.image }}" class="rounded img-fluid">
                </a>
            </div>
        {% endfor %}
    </div>

    {{ knp_pagination_render(pictures) }}
{% endblock %}