{% extends 'base.html.twig' %}

{% block title %}Mon compte - Modification d'une photo{% endblock %}

{% block body %}

<h1 class="h3 mb-3 font-weight-bold">Modification d'une photo</h1>

{{ form_start(formEdit) }}
    {{ form_rest(formEdit) }}
    <button class="btn btn-primary">Valider les modifications</button>
{{ form_end(formEdit) }}

{% endblock %}
